body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}

table {
    height: 50%;
    width: 100%;
}

#stars {
    width: 30%;
}

#Img-stars {
    height: 100%;
}

.red {
    background: red;
    
}


